header {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-text {
    padding: 10vh 4vw;
    color: white;
    font-family: Fraunces;
    font-weight: 900;
    text-align: center;
    letter-spacing: 5px;
}

.arrow {
    display: block;
    margin: 0 auto;
    padding-bottom: 20vh;
}

@media (min-width: 600px) {
    header {
        height: 100vh;
        background-image: url(../images/desktop/image-header.jpg);
        background-size: cover;
        background-position: right bottom;
        
    }

    .main-text {
        font-size: 50px;
        padding: 4vh 4vw;
    }

    .arrow {
        height: 80px;
        margin-top: 6vh;
    }
}